@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #abb2bf;
}

body {
    background-color: #32363e;
}

nav {
    padding: 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

textarea {
    width: inherit;
    height: inherit;
    padding: 1rem;
    background: #282c34;
    border: none;
    border-radius: 12px;
}

textarea:focus {
    outline: none;
}

.js-section,
.py-section {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
}

.convert-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.convert-btn>button {
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.convert-btn>button:hover {
    background-color: #989393;
    color: #000;
}